DATABASE_URL=postgresql+asyncpg://neondb_owner:npg_G4OjEfpo6LeM@ep-plain-sunset-ax3yui8i-pooler.c-4.us-east-2.aws.neon.tech/neondb?ssl=require
GEMINI_API_KEY=AIzaSyD1ZYIXfnDUc9rLQ-j7mRcqHd-HATGftF8
GEMINI_MODEL=gemini-2.0-flash
